
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

        *{box-sizing: border-box;}
        body{margin: 0;font-family: 'Roboto', sans-serif;}
        
        #header{
            background-color: rgba(87, 197, 182,0.8);
            padding: 30px;
            position: fixed;
            top: 0;
            width: 100%;
            
        
        }
        .header-logo{
            color: #fff;
            text-decoration: none;
            font-size: 25px;
        }
        .container{
            width: 1000px;
            margin: auto;
        }
        .row{
            margin-top: 40px;
        }
        .row::after{
            content: "";
            display: block;
            clear: both;
        }
        .col-2{
            width: 50%;
            float: left;
        }
        .header__items{
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: right;
     
        }
        .header__item{
           display: inline-block;
          
        }
        .header__item a{
           color: #fff;
           text-decoration: none;
           font-size: 20px;
           padding: 16px;
        }
        .header__item a:hover{
         background-color: rgba(255, 244, 210,0.5);
         border-radius: 8px;
        }
        #showcase{
            height: 100vh;
            background-image: url(../images/home1.jpg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
        #content{
            margin-top: 50px;
           
        }
       .content__top{
        text-align: center;
        color: #3e4555;
        }
        .content_title{
            color: #57C5B6;
        }
    .content__image{
        height: 50vh;
        background-image: url(../images/content.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        }
        .content-image_title{
            background-color: rgba(62, 69, 85,0.3);
            padding: 50px;
            border-radius: 25px;
            font-size: 25px;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

        }
        #plans{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .plan{
            text-align: center;
            height: 450px;
            
            
         
        }
        .plan-title{
            color: #57C5B6;
            margin-bottom: 40px;
        }
        .inner-plan ul li::marker{
            color: #57C5B6;
        }
        .inner-plan{
            background-color: #edf5f7;
            height: 100%;
            margin: 5px;
            padding: 5px 16px;
            border-radius: 8px;
            position: relative;
            cursor: pointer;
            box-shadow: 15px 10px 20px 0px rgba(20, 40, 80, 0.5);
        }
        .inner-plan:hover{
           transform: translateY(-20px);
           transition: .5s;
        }
        .button{

            color: #57C5B6;
            text-decoration: none;
            background-color: #fff;
            padding: 8px 16px;
            border: 2px solid #57C5B6;
            border-radius: 5px;
            position: absolute;
            bottom: 0;
            transform: translate(-50%,-20%);
        }
        .button:hover{
            background-color: #57C5B6;
            color: #fff;
            border: 2px solid #57C5B6;
            transition: .5s;
        }
        .submit{
            color: #57C5B6;
            text-decoration: none;
            background-color: #fff;
            padding: 8px 16px;
            border: 2px solid #57C5B6;
            border-radius: 5px;
            cursor: pointer;
        }
        .submit:hover{
            background-color: #57C5B6;
            color: #fff;
            border: 2px solid #57C5B6;
            transition: .5s;
        }
        .col-3{
            
            width: 25%;
            float: left;

        }
        footer{
            background-color: #57C5B6;
            padding: 30px;
            margin-top: 30px;
        }
        footer a{
            color: #fff;
            text-decoration: none;
            font-size: 18px;
        }
        footer ul{
            list-style: none;
            padding: 0;
            margin: 0;

        }
        footer li{
            display: inline-block;
            margin-left: 5px;
            
        }
        #social-links{
            text-align: right;
        }
        .fab{
            padding: 10px;
            font-size: 25px;
            border-radius: 50%;
        }
        .fa-facebook{
            background-color: #3B5998;
            color: #fff;
        }
        .fa-twitter{
            background-color: #55ACEE;
            color: #fff;
        }
        .fa-instagram{
            background-color: #125688;
            color: #fff;
        }
        #register{
            margin-top: 100px;
            padding: 20px;
        }
        label{
        color: #57C5B6;
       
        }
        table{
            border-spacing: 15px;
        }