$custom: #e50914;
$custom2: #00081d;
$custom3: #132144;
$custom4: #161616b3;

$container-padding-x: 7rem;
$dropdown-dark-bg: $custom3;
$navbar-nav-link-padding-x: 1.5rem;
$nav-link-padding-y: 0;
$btn-padding-y: 0.25rem;
$btn-padding-x: 1rem;
$card-border-color: transparet;
$card-border-radius: 1rem;
$input-placeholder-color: #fff;
$input-focus-color: #fff;
$input-padding-y: 1rem;
$input-padding-x: 1rem;
$accordion-padding-y: 2rem;
$accordion-padding-x: 2rem;
$accordion-color: #fff;
$accordion-bg: $custom3;
$accordion-border-width: 0rem;
$accordion-border-radius: 0;
$accordion-inner-border-radius: 0;
$accordion-button-color: #fff;
$accordion-button-active-bg: $custom3;
$accordion-button-active-color: #fff;
$accordion-icon-color: #fff;
$accordion-icon-active-color: #fff;